<script setup>

import Container from './components/Container.vue'

</script>

<template>

  <suspense timeout="0">
    <Container/>
  </suspense>

</template>

<style>
  html {
    font-size: 15px;
  }
  * {
    font: 13px monospace;
    font-size: 1rem;
  }
</style>
