<script setup>
import { ref, computed, watch, inject } from 'vue'
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const props = defineProps({
  labels: Array,
  data: Array,
  id: String
})

const chartData = computed(() => {
  return {
     labels: props.labels,
     datasets: [ {
        data: props.data
     } ]
  }
})

const chartID = computed(() => `bar-chart-${props.id}`)

const isLoading = ref(true)
const finishedLoadingPHIDs = inject('finishedLoadingPHIDs')
watch(finishedLoadingPHIDs, phids => {
  if (phids.includes(`${props.id}:finishedLoadingTasks`)) {
    isLoading.value = false
  }
})

watch(() => props.labels, labels => {
  const chartEl = document.getElementById(chartID.value)
  const containerDiv = chartEl.closest('.barChartContainer')
  const rowCount = labels.length
  const rowHeight = rowCount * 39
  containerDiv.style.height = `${rowHeight + 80}px`
  // "You can call .resize() with no parameters to have the chart take the size of its container element, or you can pass explicit dimensions"
  ChartJS.getChart(chartID.value).resize()
})

// all graphs need to use the same scale!
const maxTasks = inject('maxTasks')
const updateSuggestedMax = max => {
  const chart = ChartJS.getChart(chartID.value)
  chart.config.options.scales.x.suggestedMax = max
  chart.update()
}
watch(maxTasks, updateSuggestedMax)

const font = {
  size: 13,
  family: 'monospace',
  weight: 'bold'
}

const options = {
  barThickness: 18,
  minBarLength: 3,
  indexAxis: 'y',
  responsive: true,
  maintainAspectRatio: false,
  barPercentage: 0.7,
  borderRadius: 3,
  backgroundColor: 'rgb(155, 191, 145)',
  borderColor: 'rgb(55, 126, 34)',
  borderWidth: 2,
  borderSkipped: 'left',
  animation: {
    duration: 300
  },
  plugins: {
    legend: {
      display: false,
    },
    tooltip: {
      callbacks: {
        label: ({ label, formattedValue }) => ` ${formattedValue} ticket${formattedValue == 1 ? '' : 's'}`
      }
    }
  },
  scales: {
    x: {
      ticks: {
        font,
      },
      grid: {
        color: 'rgba(0,0,0,0.05)'
      }
    },
    y: {
      ticks: {
        font,
        autoSkip: false,
        mirror: true,
        labelOffset: -17
      },
      grid: {
        display: false
      }
    },
  },
  layout: {
    padding: {
      bottom: 8,
      left: -6,
      right: 0
    },
  }
}

</script>


<template>
<div class="barChartContainer" :class="{ barChartContainerPulse: isLoading }">
  <Bar
    :id="chartID"
    :options="options"
    :data="chartData"
  />
</div>
</template>


<style scoped>
.barChartContainer {
  height: 600px;
}

.barChartContainerPulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.6;
  }
}

</style>
