<script setup>
import { ref, inject, computed } from 'vue'
import Task from './Task.vue'
import Header from './Header.vue'

const props = defineProps({
  column: Object
})

const tasks = ref(props.column.tasks)
const visibleTaskCount = computed(() => tasks.value.filter(task => task.visible).length)

</script>


<template>
  <div class="column">
    <Header :identifier="props.column.phid" class="header">
      <template #icon>
        <Icon class="icon" icon="fluent:column-triple-20-regular" height="20" :inline="true"/>
      </template>
      <template #title>
        <div class="title">
          {{ column.name }}
        </div>
      </template>
      <template #subtitle>
        <div class="subtitle">
          Showing
          {{ visibleTaskCount }}
          of
          {{ tasks.length }}
          tasks
        </div>
      </template>
    </Header>
    <div class="tasks">
      <div>
        <Task v-for="task in tasks" v-show="task.visible" :key="`T${task.id}`" :task="task"/>
      </div>
    </div>
  </div>
</template>


<style scoped>
.test {
  border-style: dashed;
}
.tasks {
  margin-left: 0.15em;
}
.header {
  background-color: #ccc;
  color: black;
  border: 1px solid #aaa;
  margin-bottom: 0.6em;
}
.title {
  color: black;
  font-weight: bold;
}
.subtitle {
  font-size: 0.9rem;
  color: #333;
}
</style>
