<script setup>
import { ref, watch } from 'vue'

const props = defineProps({
  filter: String,
  placeholder: String,
  icon: String,
  iconHeight: {
    type: Number,
    default: 20
  },
  iconWidth: {
    type: Number,
    default: 20
  },
  debounceDelay: {
    type: Number,
    default: 0
  }
})

const filter = ref('')
filter.value = props.filter

function debounce(func, delay = 2000) {
  let timer
  return (...args) => {
    clearTimeout(timer)
    timer = setTimeout(() => {
      func.apply(this, args)
    }, delay)
  }
}

const debouncedEmitChanged = debounce((newFilter) => { 
  emit('changed', newFilter)
}, props.debounceDelay)

const emit = defineEmits(['changed'])
watch(filter, (newFilter, oldFilter) => {
  debouncedEmitChanged(newFilter)
})
</script>

<template>
  <div class="filterContainer">
    <Icon class="icon" :icon="props.icon" :inline="true" :height="props.iconHeight" :width="props.iconWidth"/>
    <div class="inputWrapper">
      <input type="text" v-model="filter" autocomplete="off" :placeholder="props.placeholder" :title="props.placeholder">
      <Icon v-if="filter.length != 0" class="clear" @click="filter = ''" icon="teenyicons:x-circle-solid" color="#aaa" :inline="true" height="15"/>
    </div>
  </div>
</template>

<style scoped>
  div.filterContainer {
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    background-color: #fff;
  }
  div.inputWrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin: 1px;
    border-radius: 0.3em;
  }
  div > .icon {
    margin-left: 0.8em;
    margin-right: 0.5em;
    flex-shrink: 0;
  }
  div > .clear {
    cursor: pointer;
    margin-left: 0.5em;
    flex-shrink: 0;
    padding-right: 0.5em;
  }
  div > input {
    height: 1.7em;
    padding-left: 4px;
    border: none;
    width: 100%;
  }
</style>
