<script setup>
import { watch } from 'vue'
import { useUrlStringParameterSync } from '../composables/useUrlParameterSync.js'

import Filter from './Filter.vue'

const { value: projectIDs } = await useUrlStringParameterSync('projects')
const { value: columnFilter } = await useUrlStringParameterSync('column_filter')
const { value: taskFilter } = await useUrlStringParameterSync('task_filter')
const { value: userNames } = await useUrlStringParameterSync('users')

const cleanedSplit = string => (string === undefined || string.trim().length == 0) ? [] : string.split(',').map(item => item.trim()).filter(item => item.length > 0)
const cleanedIntSplit = string => cleanedSplit(string).map(item => parseInt(item)).filter(item => !isNaN(item))

const emit = defineEmits(['projectIDsChanged', 'columnFilterChanged', 'taskFilterChanged', 'userNamesChanged'])

watch(projectIDs, newIDs => emit('projectIDsChanged', cleanedIntSplit(newIDs)), { immediate: true })
watch(columnFilter, newColumnFilter => emit('columnFilterChanged', cleanedSplit(newColumnFilter.toLowerCase())), { immediate: true })
watch(taskFilter, newTaskFilter => emit('taskFilterChanged', cleanedSplit(newTaskFilter.toLowerCase())), { immediate: true })
watch(userNames, newUserNames => emit('userNamesChanged', cleanedSplit(newUserNames)), { immediate: true })
</script>


<template>
  <div class="filterMenuHeader">
    <Filter @changed="newFilter => projectIDs = newFilter" :filter="projectIDs" placeholder="Project IDs, comma separated" icon="bxs:briefcase" :iconHeight="17" :debounceDelay="1000"/>
    <Filter @changed="newFilter => columnFilter = newFilter" :filter="columnFilter" placeholder="Column filter, comma separated" icon="fluent:column-triple-20-regular"/>
    <Filter @changed="newFilter => taskFilter = newFilter" :filter="taskFilter" placeholder="Task filter, comma separated (matches on title, number and assignee)" icon="fa-anchor" :iconHeight="15"/>
    <Filter @changed="newFilter => userNames = newFilter" :filter="userNames" placeholder="Assign users, comma separated" icon="fa-user" :iconHeight="15" :debounceDelay="1000"/>
    <slot></slot>
  </div>
</template>


<style scoped>
  .filterMenuHeader {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6em;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    background-color: #ccc;
    gap: 0.6em;
  }
  .filterMenuHeader > * {
    flex: 1 1 100%;
  }
</style>
