<script setup>

import { ref, inject, watch } from 'vue'

const props = defineProps({
  identifier: {
    default: '',
    type: String
  }
})

const isLoading = ref(true)

const finishedLoadingPHIDs = inject('finishedLoadingPHIDs')

watch(finishedLoadingPHIDs, (n, o) => {
  if (n.includes(props.identifier)) {
    isLoading.value = false
  }
})

</script>

<template>
  <div class="headerContainer" :class="{ headerContainerPulse: isLoading }">
    <div class="headerIcon">
        <slot name="icon"/>
    </div>
    <div class="headerTextContainer">
      <div class="headerTitle">
          <slot name="title"/>
      </div>
      <Icon icon="eos-icons:bubble-loading" v-show="isLoading" color="green" width="18" height="18"/>
      <div class="headerSubtitle" v-show="!isLoading">
          <slot name="subtitle"/>
      </div>
    </div>
  </div>
</template>

<style scoped>
.headerContainer {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-radius: 0.3em;
}
.headerContainerPulse {
  animation: pulse 1s infinite;
}
.headerTextContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 2em;
  row-gap: 0.25em;
  width: 100%;
  margin: 0.4em;
  margin-left: 0;
  padding: 0;
  padding-left: 0;
  padding-right: 0.6em;
}
.headerIcon {
  margin: 1em;
  margin-top: 0.1em;
  margin-bottom: 0;
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.6;
  }
}

</style>
