<script setup>
import { ref, computed, watch, inject } from 'vue'
import { Line } from 'vue-chartjs'

import { Chart as ChartJS,  CategoryScale,  LinearScale,  PointElement,  LineElement,  Title,  Tooltip,  Legend,  Filler} from 'chart.js'

ChartJS.register(CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend, Filler)

const props = defineProps({
  labels: Array,
  data: Array,
  id: String
})

const chartData = computed(() => {
  return {
     labels: props.labels,
     datasets: [ {
        data: props.data,
        fill: true,
     } ]
  }
})

const chartID = computed(() => `line-chart-${props.id}`)
const isLoading = ref(true)
const finishedLoadingPHIDs = inject('finishedLoadingPHIDs')
watch(finishedLoadingPHIDs, phids => {
  if (phids.includes(`${props.id}:finishedLoadingTasks`)) {
    isLoading.value = false
  }
})

// all graphs need to use the same scale!
const maxTasks = inject('maxTasks')
const updateSuggestedMax = max => {
  const chart = ChartJS.getChart(chartID.value)
  chart.config.options.scales.y.suggestedMax = max
  chart.update()
}
watch(maxTasks, updateSuggestedMax)

const font = {
  size: 13,
  family: 'monospace',
  weight: 'bold'
}

const options = {
  responsive: true,
  maintainAspectRatio: false,
  lineTension: 0.5,
  backgroundColor: 'rgb(155, 191, 145)',
  borderColor: 'rgb(55, 126, 34)',
  borderWidth: 2,
  animation: {
    duration: 300
  },
  plugins: {
    legend: {
      display: false,
    },
    tooltip: {
      callbacks: {
        label: ({ label, formattedValue }) => ` ${formattedValue} ticket${formattedValue == 1 ? '' : 's'}`
      }
    },
  },
  scales: {
    y: {
      ticks: {
        font
      },
      grid: {
        display: false,
        z: 1
      },
      beginAtZero: true
    },
    x: {
      display: true,
      ticks: {
        font,
        mirror: true,
        maxRotation: 270,
        minRotation: 270,
        autoSkip: false,
        labelOffset: -14,
        z: 1,
      },
      grid: {
        display: true,
        z: 1,
        color: 'rgba(0,0,0,0.05)'
      }
    }
  },
  elements: {
    line: {
      fill: true
    },
    point: {
      pointBackgroundColor: '#fff',
    }
  }
}

</script>


<template>
<div class="lineChartContainer" :class="{ lineChartContainerPulse: isLoading }">
  <Line
    :id="chartID"
    :options="options"
    :data="chartData"
  />
</div>
</template>


<style scoped>
.lineChartContainer {
  height: 450px;
}

.lineChartContainerPulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.6;
  }
}

</style>
