<script setup>
import { ref, inject, computed } from 'vue'
import Column from './Column.vue'
import Header from './Header.vue'
import BarChart from './BarChart.vue'
import LineChart from './LineChart.vue'

const props = defineProps({
  project: Object,
  showCharts: Boolean
})

const columns = ref(props.project.columns)
const visibleColumnCount = computed(() => columns.value.filter(column => column.visible).length)

const chartData = computed(() => {
  return props.project.columns.filter(column => column.visible).map(column => column.tasks.filter(task => task.visible).length)
})

const chartLabels = computed(() => {
  return props.project.columns.filter(column => column.visible).map(column => column.name)
})

</script>


<template>
  <div class="project">
    <Header :identifier="props.project.phid" class="header">
      <template #icon>
        <Icon class="icon" icon="bxs:briefcase" height="17" :inline="true"/>
      </template>
      <template #title>
        <a class="title" target="_blank" :href="project.uri">{{ project.fullName }}</a>
      </template>
      <template #subtitle>
        <div class="subtitle">
          Showing
          {{ visibleColumnCount }}
          of
          {{ columns.length }}
          columns
        </div>
      </template>
    </Header>
    <BarChart v-show="showCharts && columns.filter(column => column.visible).length > 0" :labels="chartLabels" :data="chartData" :id="props.project.phid"/>
    <!--
    <LineChart v-show="showCharts && columns.filter(column => column.visible).length > 0" :labels="chartLabels" :data="chartData" :id="props.project.phid"/>
    -->
    <div v-show="!showCharts">
      <Column v-for="column in columns" v-show="column.visible" :key="column.phid" :column="column"/>
    </div>
  </div>
</template>


<style scoped>
  .header {
    background-color: #000;
    color: white;
    border: 1px solid #000;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0.6em;
  }
  .title {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  .subtitle {
    font-size: 0.9rem;
    color: #bbb;
  }
  .project {
    margin-bottom: 0;
    margin-top: 2.4em;
    border: 1px solid #aaa;
    padding: 0.6em;
    padding-right: 0.7em;
    padding-bottom: 0;
    border-radius: 0.3em;
    background-color: #eee;
  }
  a {
    text-decoration: none;
  }
</style>
