<script setup>

import { ref, inject } from 'vue'
import UserMenu from './UserMenu.vue'
import { updateTaskOwner } from '../proxyApi.js'

const props = defineProps({
  task: Object
})


let showUsers = ref(false)
const users = inject('users')
let selectedID = null
const showUsersOnHover = (id, delay) => {
  if (saveInProgress.value || users.value.length == 0) {
    return
  }
  selectedID = id
  setTimeout(() => {
    if (selectedID != id) {
      return
    }
    showUsers.value = true
  }, delay)
}

const resetHoverState = () => {
  selectedID = null
  showUsers.value = false
}

const saveInProgress = ref(false)

const onUpdateAssignee = async user => {
  const userIsCurrentAssignee = props.task.owner && props.task.owner.phid == user.phid
  saveInProgress.value = true
  showUsers.value = false
  const response = await updateTaskOwner(userIsCurrentAssignee ? '' : user.phid, props.task.id)
  if (response.error_code == null) {
    props.task.owner = userIsCurrentAssignee ? null : user
  }
  saveInProgress.value = false
}

</script>


<template>
  <div class="task"
    @mouseenter="showUsersOnHover(task.id, 500)"
    @mouseleave="resetHoverState()"
    :class="{ pulse: saveInProgress }"
  >
    <a :href="task.uri" target="_blank">T{{ task.id }}</a>
    <span class="name">{{ task.name }}</span>
    <div class="owner" v-if="task.owner || saveInProgress ">
        <span>Assigned to:</span>
        <span v-if="saveInProgress" class="updatingMessage">Updating...</span>
        <span v-else>
          <a class="ownerLink" :href="task.owner.uri" target="_blank" :title="task.owner.fullName">{{ task.owner.name }}</a>
        </span>
    </div>
    <transition name="users">
      <UserMenu v-if="showUsers" @updateAssignee="onUpdateAssignee" :currentUser="props.task.owner"/>
    </transition>
  </div>
</template>


<style scoped>
  .name, .ownerLink, .updatingMessage {
    padding-left: 0.4em;
  }
  .updatingMessage {
    font-style: italic;
  }
  .task {
    padding: 0.6em;
    padding-left: 1.2em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
  }
  a {
    color: green;
    text-decoration: none;
    cursor: pointer;
  }
  .users-enter-active,
  .users-leave-active {
    transition: max-height 0.25s ease-in-out;
    max-height: 500px;
    overflow: hidden;
  }
  .users-enter-from,
  .users-leave-to {
    max-height: 0;
    overflow: hidden;
  }
  .pulse {
    animation: pulse 1s infinite;
  }
  .owner {
    padding-top: 0.3em;
  }
  @keyframes pulse {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.4;
    }
  }
</style>