<script setup>
import { ref } from 'vue'
const emit = defineEmits(['changed'])
const props = defineProps({
  title: String,
  initial: Boolean
})
const isOn = ref(props.initial)
const toggle = () => {
  isOn.value = !isOn.value
  emit('changed', isOn.value)
}
</script>

<template>
  <button @click="toggle" :title="props.title">
    <div>
      <slot></slot>
      <Icon class="icon" icon="uim:toggle-off" :rotate="isOn ? '2' : '0'" :color="isOn ? 'green' : '#999'" height="34"/>
    </div>
  </button>
</template>

<style scoped>
  .icon {
    margin-left: 0.5em;
  }
  button {
    border-radius: 0.3em;
    border: 1px solid #aaa;
    padding: 0.3em;
    padding-left: 1.3em;
    padding-right: 0.8em;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
  }
  button > div {
    display: inline-flex;
    align-items: center;
  }
</style>
