<script setup>
import { reactive, inject } from 'vue'
import { useRoute, useRouter } from 'vue-router' 

const router = useRouter()
await router.isReady()
const route = useRoute()
const users = inject('users')

const props = defineProps({
  currentUser: Object
})
</script>


<template>
  <div>
    <div class="menuContainer">
      <div class="menuTitle">Assign to:</div>
      <div class="menuButtons">
        <button v-for="user in users" :key="user.phid" :title="user.fullName" @click="$emit('updateAssignee', user)" :class="{ selected: props.currentUser && props.currentUser.phid == user.phid }">
          {{ user.name }}
        </button>
      </div>
    </div>
  </div>
</template>


<style scoped>
  .menuContainer {
    display: inline-flex;
  }
  .menuTitle {
    margin-top: 0.3em;
    margin-right: 0.3em;
    white-space: nowrap;
  }
  button {
    cursor: pointer;
    margin: 0.25em;
    font-size: 0.9rem;
    border-radius: 0.3em;
    border: 1px solid #aaa;
    margin-right: 0.4em;
    padding: 0.15em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: #ddd;
  }
  button:hover {
    background-color: green;
    color: white;
    border: 1px solid green;
  }
  .selected {
    background-color: green;
    color: white;
    border-color: green;
  }
</style>
